:root {
  --primary-color: #566ebb;
  --sec-color: #102567;
  --order-btn-color: #a5a5a5;
  --gray-text: #999999;
}

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
  width: 100%;
}

footer {
  height: 200px;
}

p {
  color: var(--gray-text);
}

h1 {
  color: var(--sec-color);
}

.hidden {
  display: none;
}

.flex {
  display: flex;
  align-items: center;
}

main {
  padding: 0 15px;
  margin-top: 50px;
}

/* SIDE MENU */

.side-menu {
  height: 100%;
  width: 0;
  transition: 0.3s;
  background-color: var(--primary-color);
  position: fixed;
  z-index: 5;
  padding: 0 20px;
  opacity: 0;
  overflow: hidden;
}

.side-menu .primary-btn {
  background-color: #ffffff;
  margin: 20px 0;
}

.side-menu .active {
  background-color: #35457c;
}
.side-menu-wrapper {
  position: absolute;
  bottom: 7vh;
  display: flex column;
}

.side-menu .menu-icon {
  margin: 20px auto 0 auto;
  display: block;
  filter: invert(100%);
}

.extended {
  opacity: 1;
  width: 100px;
}

/* MENU */

.menu-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-icon {
  width: 35px;
  height: 35px;
  filter: contrast(1000%) invert(70%) sepia(100%) saturate(10000%) hue-rotate(210deg);
}

nav {
  margin-top: 50px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}

li {
  list-style: none;
}

.primary-btn {
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: var(--gray-text);
  font-size: 13px;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  border: 0;
  transition: 0.3s all;
}

.active {
  background-color: var(--primary-color);
  color: #ffffff;
}

.primary-btn:hover {
  background-color: var(--primary-color);
  color: #ffffff;
}
.primary-btn:active {
  position: relative;
  top: 1px;
}

/* BEER */

.beer-text-wrapper h2 {
  margin: 5px 0;
  font-size: 25px;
  color: var(--sec-color);
}

.beer-img {
  object-fit: cover;
  height: 200px;
  width: 90px;
}

.beer-wrapper {
  display: flex;
  align-items: top;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
  width: 100%;
}

.beer-desc {
  width: 150px;
  margin: 15px 0;
  max-height: 75px;
  overflow: hidden;
}

.beer-stats {
  font-size: 15px;
}

/* ORDER */

.order-btn-wrapper {
  display: flex;
  flex-flow: column;
  align-self: center;
}

.order-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 0;
  background-color: var(--order-btn-color);
  color: white;
}

.order-amount {
  text-align: center;
  font-size: 20px;
}

/* LEARN MORE SECTION */

.learn-more-btn {
  display: block;
  margin: 35px auto 0 auto;
  width: 75%;
}

.learn-more-section {
  width: 90%;
  animation: open 0.5s ease-in-out;
  overflow: hidden;
}

.learn-more-section h3 {
  color: var(--sec-color);
  margin-bottom: 0;
}

.learn-more-section p {
  margin-top: 5px;
}

@keyframes open {
  from {
    height: 0;
  }
  to {
    height: 250px;
  }
}

.learn-more-section h2 {
  color: var(--sec-color);
}

/* QUICK ORDER */

.section-header {
  position: relative;
  color: var(--gray-text);
  font-size: 35px;
  font-weight: 300;
  /* margin-left: 10px; */
}

.section-header:after {
  position: absolute;
  content: "";
  background: var(--gray-text);
  height: 2px;
  width: 185px;
  left: 0%;
  bottom: -25%;
}

.quick .beer-img {
  width: 100px;
}

.quick {
  align-items: center;
  justify-content: flex-start;
  margin-top: 25px;
}

.quick:nth-child(2) {
  margin-top: 50px;
}

.quick .order-btn-wrapper {
  margin-left: auto;
}

.quick .beer-text-wrapper {
  margin-left: 15px;
}

.quick h2 {
  font-size: 35px;
}

.quick .beer-stats {
  font-size: 18px;
}

.order-total {
  text-align: right;
  margin: 30px 10px 0 auto;
}

.order-total p {
  margin: 0;
  color: var(--sec-color);
  font-size: 20px;
}

.order-total h2 {
  margin: 0 0 10px 0;
  color: var(--sec-color);
  font-size: 50px;
}

.order-total button {
  font-size: 20px;
}

/* PAYMENT */

.payment-options {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: var(--gray-text);
}

.payment-btn {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
}

.selected {
  box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.25);
  transform: scale(1.05);
}

.payment-btn input {
  display: none;
}

.payment-btn input:checked {
  /* display: block; */
}

.payment-options label {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.payment-options label img {
  width: 85px;
}

.confirm {
  margin: 50px 10px 0 auto;
  display: block;
  font-size: 20px;
}

/* SELECT */

select {
  border-radius: 15px;
  border: solid 1px gray;
  margin-left: 15px;
  padding: 8px;
  width: 90px;
  text-align: center;
  background-color: #ffffff;
}
